#button {
  position: absolute;
  width: 10%;
  bottom: 0;
  text-align: center;
  padding-bottom: 20px;
}
#button {
  font-size: 20px;
  font-family: sans-serif;
  display: block;
  background-color: white;
  margin: 0 10px 20px;
  cursor: pointer;
  width: 200px;
  height: 45px;
  border-radius: 10px;
  color: black;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 0px;
}
img:hover {
  opacity: 0.8;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
header nav {
  display: flex;
  justify-content: center;
}
header nav a {
  padding: 12px;
  margin: 15px;
  font-size: 30px;
}
.title-container {
  position: relative;
  text-align: center;
  color: white;
  padding-bottom: 40px;
}
.title-container img {
  width: 70%;
  padding-bottom: 60px;
  border-bottom: 1px solid grey;
}
#textBlock #mainTitle {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  margin-bottom: 50px;
  padding: 20px;
}
#textBlock #button {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
.artists-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-left: 400px;
  margin-right: 400px;
}
.artists-container .artist {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
}
.artists-container .artist img {
  width: 70%;
  border-radius: 10px;
  margin: 10px;
}
.artists-container .artist .bio {
  text-align: center;
  width: 70%;
  padding: 20px;
  font-size: 16px;
}
